@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* https://digitalsynopsis.com/design/minimal-web-color-palettes-combination-hex-code/ */

.hide {
    display: none;
}

.disable-btn {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    /*overflow: hidden; -Disables scroll when used with overflow: hidden;*/
    font-family: 'Montserrat', monospace;
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-template-rows: auto auto 58.3vw auto; /*Auto makes row size = size of container*/
    grid-template-areas:
        "options options"
        "phrase phrase"
        "gallows input"
        "footer footer";
}

.container {
    padding: 1.2em;
    align-items: center;
    text-align: center;
}

/** Options Container */
.options-container {
    grid-area: options;
    width: 100%;
}

.win-lose-message {
    margin: 0;
    font-family: 'Montserrat', monospace;
    font-size: 1.1em;
}

.input {
    font-family: 'Montserrat', monospace;
    font-size: 1.1em;
}

.submit {
    background-color: #9DE0AD; /*Color Name: Living Coral*/
    color: #FFF;
    font-size: 1.1em;
    border: none;
    border-radius: 2em;
    padding: 0.3em 1.2em;
    cursor: pointer;
}

button:hover {
    background: #FF7B77;
}

.new-game-btn {
    background-color: #9DE0AD;
    color: #FFF;
    font-size: 1.1em;
    border: none;
    border-radius: 2em;
    padding: 0.3em 1.2em;
    cursor: pointer;
}
/** End of options-container */

/** Phrase-container */
.phrase {
    margin: 0;
    font-family: 'Montserrat', monospace;
    font-size: 1.1em;
}

.phrase-container {
    background: #9DE0AD;
    color: #555;
    grid-area: phrase;
    width: 100%;
}
/** End of Phrase-container */

.gallows-container {
    background: #FFF;
    grid-area: gallows;
    width: 100%;
}

/** Container that contains the keyboard */
.keyboard-container {
    background: #FFF;
    grid-area: input;
    width: 100%;
    font-size: 2em;
    height: 58.3vw;
}

.keyboard-container .container {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: inherit;
    justify-items: center;
    height: 100%;
}

.checkbox-container {
    width: 100%;
}

.checkbox {
    grid-area: inherit;
    cursor: pointer;
    border: none;
    background-color: #45ADA8; /*Color Name: Biking Red*/
    color: #FFF;
    outline: none;
    border-radius: 1em;
    font-size: 1.1em;
    text-align: center;
    padding: 0;
    width: 80%;
    margin: 0;
}
/** End of keyboard-container*/

.footer {
    background: #9DE0AD;
}

.footer-container {
    background: #9DE0AD;
    grid-area: footer;
    width: 100%;
    font-size: 0.8em;
}