@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.hide {
    display: none;
}

.disable-btn {
    display: none;
}

button {
    background-color: #FFF; /*557A95*/
    color: #557A95;
    font-size: 1em;
}

button:hover {
    background: #918E97;
    color: #FFF;
}

body {
    margin: 0;
    padding: 0;
    background-color: #7395AE;
    /*overflow: hidden; -Disables scroll when used with overflow: hidden;*/
    font-family: 'Montserrat', monospace;
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-template-rows: auto auto auto auto; /*Auto makes row size = size of container*/
    grid-template-areas:
        "options options"
        "phrase phrase"
        "gallows input"
        "footer footer";
}

.container {
    color: #FFF;
    padding: 1.2em;
    align-items: center;
    text-align: center;
}

/** Options Container */
.options-container {
    grid-area: options;
    width: 100%;
}

.win-lose-message {
    margin: 0;
    font-family: 'Montserrat', monospace;
    font-size: 1.1em;
}

.input {
    font-family: 'Montserrat', monospace;
    font-size: 1.1em;
}

.new-game-btn {
    border: none;
    border-radius: 0.5em;
    padding: 0.3em 1.2em;
    cursor: pointer;

    background-color: #7395AE; /*557A95*/
    color: #FFF;
}

.submit {
    border: none;
    border-radius: 0.5em;
    padding: 0.3em 1.2em;
    cursor: pointer;

    background-color: #7395AE; /*557A95*/
    color: #FFF;
}
/** End of options-container */

/** Phrase-container */
.phrase-container {
    grid-area: phrase;
    width: 100%;
}

.phrase {
    background: #7395AE;
    color: #FFF;
    margin: 0;
    font-family: 'Montserrat', monospace;
    font-size: 1.2em;
}

/** Gallows */
.gallows-container {
    background: #FFF;
    grid-area: gallows;
    width: 100%;
}

.gallows-container .container {
    grid-template-rows: 7fr 1fr;
}

.gallows-container .container{
    background: #FFF;
    color: #557A95;
}

.placeholder {
    font-size: 1.5em;
}

/** Keyboard */
.keyboard-container {
    background: #FFF;
    grid-area: input;
    font-size: 2em;
    width: 100%;
    height: 58.9vw;
}

.keyboard-container .container {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: inherit;
    justify-items: center;
}

.checkbox-container {
    grid-area: inherit;
    width: 100%;
}

.checkbox {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.1em;
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0;
}
/** End of keyboard-container*/

.footer {
    grid-area: footer;
    background: #5CDB95;
    border-top: 3px;
}

.footer-container {
    grid-area: footer;
    width: 100%;
    font-size: 0.8em;
    color: #05386B;
}